<footer class="footer">
  <div class="container">
    <div class="footer__text-container">
      <p class="footer__licence-text">© 2021 | All Rights Reserved |</p>
      <span class="footer__licence-text">Developed with</span>
      <svg width="14" height="13">
        <use href="../src/images/sprite.svg#icon-Group" />
      </svg>
      <span class="footer__licence-text"
        >by <a href="#" class="footer__licence-text footer__team-link"> SimpleDo team</a>
      </span>
    </div>
  </div>
</footer>
