<header id="header" class="header-home header-my-library">

  <div class="container">
    <!-- Разметка переключателя темы -->

    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
        <use href="./images/sprite.svg#sun"></use>
      </svg>

      <div class="theme-switch__control">
        <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой" />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>

      <svg class="theme-switch__icon" aria-label="Иконка луны">
        <use href="./images/sprite.svg#moon"></use>
      </svg>
    </div>
    <div class="header__nav-menu">
      <a id="logo-block" class="header__site-logo-block" href="#">
        <svg width="24" height="24">
          <use href="../src/images/sprite.svg#icon-film" />
        </svg>
        <h1 class="header__site-name">Filmoteka</h1>
      </a>
      <nav class="header__link-block">
        <ul class="header__link-list">
          <li class="header__link-item">
            <a href="#" class="header__link header__link--active home-button">Home</a>
          </li>
          <li class="header__link-item">
            <a href="#" class="header__link my-library-button">My library</a>
          </li>
        </ul>
      </nav>
      </div>
    <form id="header-form" class="header__form" action="#">
      <input class="header__input" type="text" placeholder="Поиск фильмов" />
      <svg width="12" height="12" class="header__input-icon">
        <use href="../src/images/sprite.svg#icon-search-2" />
      </svg>
    </form>
    <div id="library-buttons-block" class="header__link-block library-buttons-block library-buttons-block-disable">
      <ul class="header__link-list">
        <li><a id="watched-button" class="header__link library-button" href="#">Watched</a></li>
        <li><a id="queue-button" class="header__link library-button" href="#">Queue</a></li>
      </ul>

      </div>
  </div>
</header>
