
<div class="backdrop is-hidden">
    <div class="modal">
       <button type="button" class="modal__button">But</button>
    
        <div class="modal__template">
            <div>
                <img src="#" alt="">
            </div>

            <div>
              <div>

                <h2></h2>

                <ul>
                    <li>
                        <span>Vote / Votes</span>
                        <span></span>
                        <span>/</span>
                        <span></span>
                    </li>
                    <li>
                        <span>Popularity</span>
                        <span></span>
                    </li>
                    <li>
                        <span>Original Title</span>
                        <span></span>
                    </li>
                    <li>
                        <span>Genre</span>
                        <span></span>
                    </li>
                </ul>
                
                <h3></h3>

                <p></p>

              </div>

                <div>
                   <button type="button">add to Watched</button>
                  <button type="button">add to queue</button>
                </div>

            </div>
        </div>
        
    </div>
</div>
