<div class="lightbox js-lightbox">
  <div class="lightbox__overlay"></div>

  <div class="lightbox__content">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <button type="button" class="lightbox__button" data-action="close-lightbox">
    <svg width="20" height="20" class="icon">
      <use href="../src/images/sprite.svg#close2"></use>
    </svg>
  </button>
  <!-- <button data-modal-close type="button" class="modal__button"></button> -->
</div>
