<div class="lightbox js-team-lightbox">
  <div class="lightbox-team__overlay"></div>

  <div class="lightbox__content">
    <ul class="teams__list">
      <li class="teams__items">
        <img src="../src/images/teammates/aleksandr-seleznyov.jpg" alt="aleksandr-seleznyov" />
        <div class="teams__content">
          <h3 class="teams__subtitle">aleksandr-seleznyov</h3>
          <p class="teams__text">dev</p>
          <ul class="social">
            <li class="social__item">
              <a href="" class="social__linc">
                <svg class="social__icon" width="20" height="20">
                  <!-- <use href="./images/symbol-defs.svg#icon-instagram"></use> -->
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <button type="button" class="lightbox__button" data-action="close-lightbox">
    <svg width="20" height="20" class="icon">
      <use href="../src/images/sprite.svg#close2"></use>
    </svg>
  </button>
  <!-- <button data-modal-close type="button" class="modal__button"></button> -->
</div>
