a {
  text-decoration: none;
}
h2,
p {
  margin: 0;
  padding: 0;
}

.films {
  padding-top: 20px;
  margin-bottom: 20px;
}
.film-list {
  display: flex;
  flex-wrap: wrap;

  .card__vote {
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 30px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 4px;
    background-color: var(--secondary-text-color);
    color: var(--main-color);
  }

  &__link {
    display: block;
    width: 280px;
    min-height: inherit;
    // padding: 10px 10px 15px 10px;
    transition: transform var(--animation-dur) var(--animation-type);

    &:hover,
    &:focus {
      transform: scale(1.05);
      outline: none;
    }
  }

  &__item {
    min-height: 480px;
  }
  &__thumb {
    background-color: #f7f7f7;
    border-radius: 5px;
    width: 100%;
    height: 402px;
    position: relative;
  }
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  &__info {
    margin-top: 10px;
  }
  &__title {
    font-weight: 500;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--main-text-color);
    text-transform: uppercase;
  }
  &__genre {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .film-list {
    &__link {
      width: 294px;
    }
    &__item {
      margin-right: 30px;
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    &__thumb {
      height: 398px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .film-list {
    &__link {
      width: 274px;
    }
    &__item {
      &:nth-child(2n) {
        margin-right: 30px;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
