.footer {
  background-color: var(--footer-bg-color);
  height: 77px;

  display: flex;
  align-items: center;
}

.footer__text-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: block;
    text-align: center;
  }
}

.footer__licence-text {
  font-weight: 400;
  font-size: 14px;

  margin: 0 5px;

  color: var(--footer-text-color);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    margin-bottom: 10px;
  }
}

.footer__licence-text > svg {
  margin: 0 5px;
}

.footer__team-link:hover {
  text-decoration: underline;
}
