body.light-theme {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

body.dark-theme {
  background-color: var(--main-text-color);
  color: var(--main-color);

  & .film-list__title {
    color: var(--main-color);
  }
}

.dark-theme {
  background-color: var(--main-text-color);
  color: var(--main-color);
}

.light-theme {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

.modal.dark-theme {
  background-color: rgb(60, 66, 66);
  color: var(--main-color);
  & .modal__value-count {
    color: var(--main-text-color);
  }
}

.dark-theme {
  & .lightbox--teammates {
    & .modal {
      background-color: #3c4242;
      color: var(--main-color);
    }
    & .team-list__item {
      background-color: var(--main-text-color);
    }
    & .teammate {
      background-color: var(--main-text-color);
    }
    & .social__icon--github {
      background-image: url('../../src/images/github-rev.svg');
    }
    & .social__icon--linkedin {
      background-image: url('../../src/images/linkedin-rev.svg');
    }
    & .social__icon--email {
      background-image: url('../../src/images/email-rev.svg');
    }
    & .team-list__item {
      box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.2);
    }
  }

  .footer__team-link:hover,
  .footer__team-link:focus {
    color: var(--main-color);

    text-shadow: var(--main-color) 0 0 1px;
  }
}

.modal.light-theme {
  background-color: var(--main-color);
  color: var(--main-text-color);
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: -40px;
  margin-bottom: 4px;
}

.theme-switch__icon {
  color: var(--main-color);
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: var(--main-color);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms var(--timing-function);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d3d3d4;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(35px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 3px orangered;
}
